---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_2dbm1b5j0k9zjg&plan=stripe_plan&email=example%40example.com
    headers:
      Authorization:
      - Bearer S5eZcyLrHDQM43WCbPoM95iPY1AXu6mm
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"object\": \"customer\",\n  \"created\": 1380124266,\n  \"id\":
        \"cus_2dbmdd2hpQ9RVM\",\n  \"livemode\": false,\n  \"email\": \"example@example.com\",\n
        \ \"subscription\": {\n    \"id\": \"su_2dbmyHDrM3MFdn\",\n    \"plan\": {\n
        \     \"interval\": \"month\",\n      \"name\": \"MyFlix\",\n      \"amount\":
        999,\n      \"currency\": \"usd\",\n      \"id\": \"stripe_plan\",\n      \"object\":
        \"plan\",\n      \"livemode\": false,\n      \"interval_count\": 1\n    },\n
        \   \"object\": \"subscription\",\n    \"start\": 1380124266,\n    \"status\":
        \"active\",\n    \"customer\": \"cus_2dbmdd2hpQ9RVM\",\n    \"current_period_start\":
        1380124266,\n    \"current_period_end\": 1382716266,\n    \"quantity\": 1,\n
        \   \"application_fee_percent\": null\n  },\n  \"account_balance\": 0,\n  \"cards\":
        {\n    \"object\": \"list\",\n    \"count\": 1,\n    \"url\": \"/v1/customers/cus_2dbmdd2hpQ9RVM/cards\",\n
        \   \"data\": [\n      {\n        \"id\": \"card_2dbmXqUhJeu2wq\",\n        \"object\":
        \"card\",\n        \"last4\": \"4242\",\n        \"type\": \"Visa\",\n        \"exp_month\":
        3,\n        \"exp_year\": 2014,\n        \"fingerprint\": \"QmBJuLviOP1VUjZt\",\n
        \       \"customer\": \"cus_2dbmdd2hpQ9RVM\",\n        \"country\": \"US\",\n
        \       \"address_city\": null,\n        \"cvc_check\": \"pass\"\n      }\n
        \   ]\n  },\n  \"default_card\": \"card_2dbmXqUhJeu2wq\",\n  \"next_recurring_charge\":
        {\n    \"date\": \"2013-10-25\",\n    \"amount\": 999\n  },\n  \"active_card\":
        {\n    \"id\": \"card_2dbmXqUhJeu2wq\",\n    \"object\": \"card\",\n    \"last4\":
        \"4242\",\n    \"type\": \"Visa\",\n    \"exp_month\": 3,\n    \"exp_year\":
        2014,\n    \"fingerprint\": \"QmBJuLviOP1VUjZt\",\n    \"customer\": \"cus_2dbmdd2hpQ9RVM\",\n
        \   \"country\": \"US\",\n    \"address_city\": null,\n    \"cvc_check\":
        \"pass\"\n  }\n}\n"
  recorded_at: Wed, 25 Sep 2013 15:51:07 GMT
recorded_with: VCR 2.5.0
