---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_2TjIAjf0s5qvH8&plan=stripe_plan&email=john%40example.com
    headers:
      Authorization:
      - Bearer S5eZcyLrHDQM43WCbPoM95iPY1AXu6mm
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"object\": \"customer\",\n  \"created\": 1377845839,\n  \"id\":
        \"cus_2TjI1egZImIdWz\",\n  \"livemode\": false,\n  \"email\": \"john@example.com\",\n
        \ \"subscription\": {\n    \"plan\": {\n      \"interval\": \"month\",\n      \"name\":
        \"MyFlix\",\n      \"amount\": 999,\n      \"currency\": \"usd\",\n      \"id\":
        \"stripe_plan\",\n      \"object\": \"plan\",\n      \"livemode\": false,\n
        \     \"interval_count\": 1\n    },\n    \"object\": \"subscription\",\n    \"start\":
        1377845839,\n    \"status\": \"active\",\n    \"customer\": \"cus_2TjI1egZImIdWz\",\n
        \   \"current_period_start\": 1377845839,\n    \"current_period_end\": 1380524239,\n
        \   \"quantity\": 1\n  },\n  \"account_balance\": 0,\n  \"cards\": {\n    \"object\":
        \"list\",\n    \"count\": 1,\n    \"url\": \"/v1/customers/cus_2TjI1egZImIdWz/cards\",\n
        \   \"data\": [\n      {\n        \"id\": \"card_2TjIRYYUfbadlW\",\n        \"object\":
        \"card\",\n        \"last4\": \"4242\",\n        \"type\": \"Visa\",\n        \"exp_month\":
        7,\n        \"exp_year\": 2015,\n        \"fingerprint\": \"QmBJuLviOP1VUjZt\",\n
        \       \"customer\": \"cus_2TjI1egZImIdWz\",\n        \"country\": \"US\",\n
        \       \"address_city\": null,\n        \"cvc_check\": \"pass\"\n      }\n
        \   ]\n  },\n  \"default_card\": \"card_2TjIRYYUfbadlW\",\n  \"next_recurring_charge\":
        {\n    \"date\": \"2013-09-30\",\n    \"amount\": 999\n  },\n  \"active_card\":
        {\n    \"id\": \"card_2TjIRYYUfbadlW\",\n    \"object\": \"card\",\n    \"last4\":
        \"4242\",\n    \"type\": \"Visa\",\n    \"exp_month\": 7,\n    \"exp_year\":
        2015,\n    \"fingerprint\": \"QmBJuLviOP1VUjZt\",\n    \"customer\": \"cus_2TjI1egZImIdWz\",\n
        \   \"country\": \"US\",\n    \"address_city\": null,\n    \"cvc_check\":
        \"pass\"\n  }\n}\n"
  recorded_at: Fri, 30 Aug 2013 06:57:20 GMT
recorded_with: VCR 2.5.0
