---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_2uGLhnStsvm90H
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer S5eZcyLrHDQM43WCbPoM95iPY1AXu6mm
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"id\": \"evt_2uGLhnStsvm90H\",\n  \"created\": 1383965386,\n
        \ \"livemode\": false,\n  \"type\": \"charge.failed\",\n  \"data\": {\n    \"object\":
        {\n      \"id\": \"ch_2uGLrY2XqZzoWi\",\n      \"object\": \"charge\",\n      \"created\":
        1383965386,\n      \"livemode\": false,\n      \"paid\": false,\n      \"amount\":
        999,\n      \"currency\": \"usd\",\n      \"refunded\": false,\n      \"card\":
        {\n        \"id\": \"card_2uGKU4c9NKsGVo\",\n        \"object\": \"card\",\n
        \       \"last4\": \"0341\",\n        \"type\": \"Visa\",\n        \"exp_month\":
        11,\n        \"exp_year\": 2014,\n        \"fingerprint\": \"k5FwZPGIRnT053Hw\",\n
        \       \"customer\": \"cus_2uDDXHCreUbyU1\",\n        \"country\": \"US\",\n
        \       \"address_city\": null,\n        \"cvc_check\": \"pass\"\n      },\n
        \     \"captured\": false,\n      \"balance_transaction\": null,\n      \"failure_message\":
        \"Your card was declined.\",\n      \"failure_code\": \"card_declined\",\n
        \     \"customer\": \"cus_2uDDXHCreUbyU1\",\n      \"description\": \"failed
        payment\",\n      \"dispute\": null,\n      \"metadata\": {},\n      \"fee\":
        0,\n      \"fee_details\": [],\n      \"disputed\": false\n    }\n  },\n  \"object\":
        \"event\",\n  \"pending_webhooks\": 1,\n  \"request\": \"iar_2uGLe3CTJPkoeD\"\n}\n"
  recorded_at: Sat, 09 Nov 2013 03:02:39 GMT
recorded_with: VCR 2.5.0
