---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_2b1BL5hHkMoDDW
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer S5eZcyLrHDQM43WCbPoM95iPY1AXu6mm
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"id\": \"evt_2b1BL5hHkMoDDW\",\n  \"created\": 1379526852,\n
        \ \"livemode\": false,\n  \"type\": \"charge.succeeded\",\n  \"data\": {\n
        \   \"object\": {\n      \"id\": \"ch_2b1B6mUpw39bZK\",\n      \"object\":
        \"charge\",\n      \"created\": 1379526852,\n      \"livemode\": false,\n
        \     \"paid\": true,\n      \"amount\": 999,\n      \"currency\": \"usd\",\n
        \     \"refunded\": false,\n      \"card\": {\n        \"id\": \"card_2b1BaFzXyP3tah\",\n
        \       \"object\": \"card\",\n        \"last4\": \"4242\",\n        \"type\":
        \"Visa\",\n        \"exp_month\": 9,\n        \"exp_year\": 2013,\n        \"fingerprint\":
        \"QmBJuLviOP1VUjZt\",\n        \"customer\": \"cus_2b1BGwu2rrrkkT\",\n        \"country\":
        \"US\",\n        \"address_city\": null,\n        \"cvc_check\": \"pass\"\n
        \     },\n      \"captured\": true,\n      \"balance_transaction\": \"txn_2b1BTrwpTxCG0B\",\n
        \     \"failure_code\": null,\n      \"customer\": \"cus_2b1BGwu2rrrkkT\",\n
        \     \"invoice\": \"in_2b1BsIgyrVVSue\",\n      \"dispute\": null,\n      \"fee\":
        59,\n      \"fee_details\": [\n        {\n          \"amount\": 59,\n          \"currency\":
        \"usd\",\n          \"type\": \"stripe_fee\",\n          \"description\":
        \"Stripe processing fees\",\n          \"application\": null,\n          \"amount_refunded\":
        0\n        }\n      ],\n      \"disputed\": false\n    }\n  },\n  \"object\":
        \"event\",\n  \"pending_webhooks\": 0,\n  \"request\": \"iar_2b1B8DkxLob4p5\"\n}\n"
  recorded_at: Wed, 18 Sep 2013 23:59:19 GMT
recorded_with: VCR 2.5.0
