---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=8&card[exp_year]=2020&card[cvc]=314
    headers:
      Authorization:
      - Bearer S5eZcyLrHDQM43WCbPoM95iPY1AXu6mm
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"id\": \"tok_2QUsTQGRtqdiAk\",\n  \"livemode\": false,\n  \"created\":
        1377100274,\n  \"used\": false,\n  \"object\": \"token\",\n  \"type\": \"card\",\n
        \ \"card\": {\n    \"id\": \"card_2QUszuZnaVGFn3\",\n    \"object\": \"card\",\n
        \   \"last4\": \"4242\",\n    \"type\": \"Visa\",\n    \"exp_month\": 8,\n
        \   \"exp_year\": 2020,\n    \"fingerprint\": \"QmBJuLviOP1VUjZt\",\n    \"customer\":
        null,\n    \"country\": \"US\",\n    \"address_city\": null\n  },\n  \"amount\":
        0,\n  \"currency\": \"usd\"\n}\n"
  recorded_at: Wed, 21 Aug 2013 15:51:16 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=400&currency=usd&card=tok_2QUsTQGRtqdiAk
    headers:
      Authorization:
      - Bearer S5eZcyLrHDQM43WCbPoM95iPY1AXu6mm
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"id\": \"ch_2QUsuWCqJ9UqSl\",\n  \"object\": \"charge\",\n
        \ \"created\": 1377100275,\n  \"livemode\": false,\n  \"paid\": true,\n  \"amount\":
        400,\n  \"currency\": \"usd\",\n  \"refunded\": false,\n  \"card\": {\n    \"id\":
        \"card_2QUszuZnaVGFn3\",\n    \"object\": \"card\",\n    \"last4\": \"4242\",\n
        \   \"type\": \"Visa\",\n    \"exp_month\": 8,\n    \"exp_year\": 2020,\n
        \   \"fingerprint\": \"QmBJuLviOP1VUjZt\",\n    \"customer\": null,\n    \"country\":
        \"US\",\n    \"address_city\": null,\n    \"cvc_check\": \"pass\"\n  },\n
        \ \"captured\": true,\n  \"balance_transaction\": \"txn_2QUssI1MOlN28i\",\n
        \ \"failure_code\": null,\n  \"dispute\": null,\n  \"fee\": 42,\n  \"fee_details\":
        [\n    {\n      \"amount\": 42,\n      \"currency\": \"usd\",\n      \"type\":
        \"stripe_fee\",\n      \"description\": \"Stripe processing fees\",\n      \"application\":
        null,\n      \"amount_refunded\": 0\n    }\n  ],\n  \"disputed\": false\n}\n"
  recorded_at: Wed, 21 Aug 2013 15:51:18 GMT
recorded_with: VCR 2.5.0
