%section.admin_payments
  .container
    .row
      .span10.offset1
        %section.payment_history
          %ul.nav.nav-tabs
            %li.active
              %a(href="") Recent Payments
            %li
              %a(href="/ui/admin_add_video") Add a New Video
          %table.table
            %thead
              %tr
                %th Name
                %th Email
                %th Amount
                %th Reference ID
            %tbody
              - @payments.each do |payment|
                %tr
                  %td payment.user
                  %td payment.email
                  %td $9.99
                  %td csdgw321s-ad3