---
http_interactions:
- request:
    method: get
    uri: http://vimeo.com/api/oembed.json?url=http://www.vimeo.com/343
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Tue, 12 Nov 2013 00:44:16 GMT
      Etag:
      - ! '"4152cbb93fd485f51b909c0abe2531ea42069e27"'
      Content-Type:
      - application/json
      X-Varnish-Cache:
      - '0'
      X-Vserver:
      - 10.90.128.146
    body:
      encoding: US-ASCII
      string: ! '{"type":"video","version":"1.0","provider_name":"Vimeo","provider_url":"https:\/\/vimeo.com\/","title":"You
        need more focus.","author_name":"starfire","author_url":"http:\/\/vimeo.com\/starfire","is_plus":"0","html":"<iframe
        src=\"\/\/player.vimeo.com\/video\/343\" width=\"320\" height=\"240\" frameborder=\"0\"
        title=\"You need more focus.\" webkitallowfullscreen mozallowfullscreen allowfullscreen><\/iframe>","width":320,"height":240,"duration":0,"description":"","thumbnail_url":"http:\/\/b.vimeocdn.com\/ts\/455\/500\/45550004_295.jpg","thumbnail_width":295,"thumbnail_height":221,"video_id":343}'
  recorded_at: Tue, 12 Nov 2013 05:36:53 GMT
recorded_with: VCR 2.5.0
