---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=8&card[exp_year]=2020&card[cvc]=314
    headers:
      Authorization:
      - Bearer S5eZcyLrHDQM43WCbPoM95iPY1AXu6mm
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"id\": \"tok_2TjJXXoUinAODE\",\n  \"livemode\": false,\n  \"created\":
        1377845848,\n  \"used\": false,\n  \"object\": \"token\",\n  \"type\": \"card\",\n
        \ \"card\": {\n    \"id\": \"card_2TjJEe2en05fNE\",\n    \"object\": \"card\",\n
        \   \"last4\": \"4242\",\n    \"type\": \"Visa\",\n    \"exp_month\": 8,\n
        \   \"exp_year\": 2020,\n    \"fingerprint\": \"QmBJuLviOP1VUjZt\",\n    \"customer\":
        null,\n    \"country\": \"US\",\n    \"address_city\": null\n  },\n  \"amount\":
        0,\n  \"currency\": \"usd\"\n}\n"
  recorded_at: Fri, 30 Aug 2013 06:57:28 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_2TjJXXoUinAODE&plan=stripe_plan&email=mina.von%40fisher.com
    headers:
      Authorization:
      - Bearer S5eZcyLrHDQM43WCbPoM95iPY1AXu6mm
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"object\": \"customer\",\n  \"created\": 1377845849,\n  \"id\":
        \"cus_2TjJjAPfTtc7vg\",\n  \"livemode\": false,\n  \"email\": \"mina.von@fisher.com\",\n
        \ \"subscription\": {\n    \"plan\": {\n      \"interval\": \"month\",\n      \"name\":
        \"MyFlix\",\n      \"amount\": 999,\n      \"currency\": \"usd\",\n      \"id\":
        \"stripe_plan\",\n      \"object\": \"plan\",\n      \"livemode\": false,\n
        \     \"interval_count\": 1\n    },\n    \"object\": \"subscription\",\n    \"start\":
        1377845849,\n    \"status\": \"active\",\n    \"customer\": \"cus_2TjJjAPfTtc7vg\",\n
        \   \"current_period_start\": 1377845849,\n    \"current_period_end\": 1380524249,\n
        \   \"quantity\": 1\n  },\n  \"account_balance\": 0,\n  \"cards\": {\n    \"object\":
        \"list\",\n    \"count\": 1,\n    \"url\": \"/v1/customers/cus_2TjJjAPfTtc7vg/cards\",\n
        \   \"data\": [\n      {\n        \"id\": \"card_2TjJEe2en05fNE\",\n        \"object\":
        \"card\",\n        \"last4\": \"4242\",\n        \"type\": \"Visa\",\n        \"exp_month\":
        8,\n        \"exp_year\": 2020,\n        \"fingerprint\": \"QmBJuLviOP1VUjZt\",\n
        \       \"customer\": \"cus_2TjJjAPfTtc7vg\",\n        \"country\": \"US\",\n
        \       \"address_city\": null,\n        \"cvc_check\": \"pass\"\n      }\n
        \   ]\n  },\n  \"default_card\": \"card_2TjJEe2en05fNE\",\n  \"next_recurring_charge\":
        {\n    \"date\": \"2013-09-30\",\n    \"amount\": 999\n  },\n  \"active_card\":
        {\n    \"id\": \"card_2TjJEe2en05fNE\",\n    \"object\": \"card\",\n    \"last4\":
        \"4242\",\n    \"type\": \"Visa\",\n    \"exp_month\": 8,\n    \"exp_year\":
        2020,\n    \"fingerprint\": \"QmBJuLviOP1VUjZt\",\n    \"customer\": \"cus_2TjJjAPfTtc7vg\",\n
        \   \"country\": \"US\",\n    \"address_city\": null,\n    \"cvc_check\":
        \"pass\"\n  }\n}\n"
  recorded_at: Fri, 30 Aug 2013 06:57:30 GMT
recorded_with: VCR 2.5.0
