---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=8&card[exp_year]=2020&card[cvc]=314
    headers:
      Authorization:
      - Bearer S5eZcyLrHDQM43WCbPoM95iPY1AXu6mm
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"id\": \"tok_2taeq0GF9F9jkC\",\n  \"livemode\": false,\n  \"created\":
        1383810302,\n  \"used\": false,\n  \"object\": \"token\",\n  \"type\": \"card\",\n
        \ \"card\": {\n    \"id\": \"card_2taemno3vJLX4P\",\n    \"object\": \"card\",\n
        \   \"last4\": \"4242\",\n    \"type\": \"Visa\",\n    \"exp_month\": 8,\n
        \   \"exp_year\": 2020,\n    \"fingerprint\": \"QmBJuLviOP1VUjZt\",\n    \"customer\":
        null,\n    \"country\": \"US\",\n    \"address_city\": null\n  },\n  \"amount\":
        0,\n  \"currency\": \"usd\"\n}\n"
  recorded_at: Thu, 07 Nov 2013 07:45:04 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_2taeq0GF9F9jkC&plan=stripe_plan&email=yazmin%40bergstrom.org
    headers:
      Authorization:
      - Bearer S5eZcyLrHDQM43WCbPoM95iPY1AXu6mm
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"object\": \"customer\",\n  \"created\": 1383810303,\n  \"id\":
        \"cus_2taerF6pPDQT0a\",\n  \"livemode\": false,\n  \"email\": \"yazmin@bergstrom.org\",\n
        \ \"metadata\": {},\n  \"subscription\": {\n    \"id\": \"su_2taeTkyqVyv5Fs\",\n
        \   \"plan\": {\n      \"interval\": \"month\",\n      \"name\": \"MyFlix\",\n
        \     \"amount\": 999,\n      \"currency\": \"usd\",\n      \"id\": \"stripe_plan\",\n
        \     \"object\": \"plan\",\n      \"livemode\": false,\n      \"interval_count\":
        1\n    },\n    \"object\": \"subscription\",\n    \"start\": 1383810303,\n
        \   \"status\": \"active\",\n    \"customer\": \"cus_2taerF6pPDQT0a\",\n    \"current_period_start\":
        1383810303,\n    \"current_period_end\": 1386402303,\n    \"quantity\": 1,\n
        \   \"application_fee_percent\": null\n  },\n  \"account_balance\": 0,\n  \"cards\":
        {\n    \"object\": \"list\",\n    \"count\": 1,\n    \"url\": \"/v1/customers/cus_2taerF6pPDQT0a/cards\",\n
        \   \"data\": [\n      {\n        \"id\": \"card_2taemno3vJLX4P\",\n        \"object\":
        \"card\",\n        \"last4\": \"4242\",\n        \"type\": \"Visa\",\n        \"exp_month\":
        8,\n        \"exp_year\": 2020,\n        \"fingerprint\": \"QmBJuLviOP1VUjZt\",\n
        \       \"customer\": \"cus_2taerF6pPDQT0a\",\n        \"country\": \"US\",\n
        \       \"address_city\": null,\n        \"cvc_check\": \"pass\"\n      }\n
        \   ]\n  },\n  \"default_card\": \"card_2taemno3vJLX4P\",\n  \"next_recurring_charge\":
        {\n    \"date\": \"2013-12-07\",\n    \"amount\": 999\n  },\n  \"active_card\":
        {\n    \"id\": \"card_2taemno3vJLX4P\",\n    \"object\": \"card\",\n    \"last4\":
        \"4242\",\n    \"type\": \"Visa\",\n    \"exp_month\": 8,\n    \"exp_year\":
        2020,\n    \"fingerprint\": \"QmBJuLviOP1VUjZt\",\n    \"customer\": \"cus_2taerF6pPDQT0a\",\n
        \   \"country\": \"US\",\n    \"address_city\": null,\n    \"cvc_check\":
        \"pass\"\n  }\n}\n"
  recorded_at: Thu, 07 Nov 2013 07:45:05 GMT
recorded_with: VCR 2.5.0
