---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_2RhuZvTJaeCe5l
    headers:
      Authorization:
      - Bearer S5eZcyLrHDQM43WCbPoM95iPY1AXu6mm
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"error\": {\n    \"message\": \"Your card's expiration date
        is incorrect.\",\n    \"type\": \"card_error\",\n    \"param\": \"exp_month\",\n
        \   \"code\": \"expired_card\",\n    \"charge\": \"ch_2Rhuquje1s3PTX\"\n  }\n}\n"
  recorded_at: Sat, 24 Aug 2013 21:22:24 GMT
recorded_with: VCR 2.5.0
