---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_2RgcohiVR93M4B
    headers:
      Authorization:
      - Bearer S5eZcyLrHDQM43WCbPoM95iPY1AXu6mm
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"id\": \"ch_2Rgc6iAbYjhVGK\",\n  \"object\": \"charge\",\n
        \ \"created\": 1377374582,\n  \"livemode\": false,\n  \"paid\": true,\n  \"amount\":
        999,\n  \"currency\": \"usd\",\n  \"refunded\": false,\n  \"card\": {\n    \"id\":
        \"card_2RgcMOfwxheU7k\",\n    \"object\": \"card\",\n    \"last4\": \"4242\",\n
        \   \"type\": \"Visa\",\n    \"exp_month\": 3,\n    \"exp_year\": 2014,\n
        \   \"fingerprint\": \"QmBJuLviOP1VUjZt\",\n    \"customer\": null,\n    \"country\":
        \"US\",\n    \"address_city\": null,\n    \"cvc_check\": \"pass\"\n  },\n
        \ \"captured\": true,\n  \"balance_transaction\": \"txn_2RgcqvsLAHGn2Z\",\n
        \ \"failure_code\": null,\n  \"dispute\": null,\n  \"fee\": 59,\n  \"fee_details\":
        [\n    {\n      \"amount\": 59,\n      \"currency\": \"usd\",\n      \"type\":
        \"stripe_fee\",\n      \"description\": \"Stripe processing fees\",\n      \"application\":
        null,\n      \"amount_refunded\": 0\n    }\n  ],\n  \"disputed\": false\n}\n"
  recorded_at: Sat, 24 Aug 2013 20:03:02 GMT
recorded_with: VCR 2.5.0
